.signup{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    background-color: #bbdaff;
    min-width: 80%;
    box-shadow:
    3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
    8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
    17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
    36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
  }

.signup-cont h1{
    text-align: center;
    padding: 18px 0px;
    font-size: 30px;
    color: #1890ff;
}

.signup-cont label{
    font-weight: 700;
    font-size: 16px;
    color: #001529;
}

.signup form{
    display: flex;
    flex-direction: column;
}

.signup input{
    width: 30vw;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.signup input:focus{
    outline: none;
}

.signup button{
    border: 1px solid #FFF;
    background-color: #001529;
    width: 28%;
    color: #FFF;
    margin: 0 auto;
    padding: 4px;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.02),
    100px 100px 80px rgba(0, 0, 0, 0.04)
  ;
  
}

.signup-cont p{
    color: red;
}